<div class = "container">
<h1>Hola Mundo</h1>
<div id="caja" class="caja"></div>
</div>
<div class= "mb-3">
    <form action="">
        <div>
            <imput type="text" id="username" placeholder="Tu nombre...">

           </div>
        <div>
            <textarea class="form-control" id="text" rows="3" placeholder="Tu mensaje..."></textarea>

           </div>
           <div>
            <input type="submit" value="Enviar" class="btn btn-primary mb-3">
           </div>
        </div>
    </form>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>